@import '~@styles/index.scss';
.container+.container{
  margin-top: 20px;
}
.container{
  .label{
    font-size: 15px;
    color:$yellow;
    margin-bottom: 15px;
  }
  .content{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    .input{
      color:#393016;
      padding:0 5px;
      font-size: 15px;
      background: unset;
      width:100%;
      overflow-y: hidden;

    }
    .suffix{
      margin-right: 15px;
      line-height: 33px;
    }
    border-bottom: 1px solid #E3E3E3;
  }
  .errMsg{
    height: 15px;
    word-break: break-all;
    color:$red;
    margin-top: 5px;
  }
}
