@import '~@styles/index.scss';
.AccountList{
  $distance:20px;
  .listtitle{
    color:$yellow;
    font-size: 16px;
    height:65px;
    background: $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 $distance;
  }

  ul{
    background: white;
    li{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      height:80px;
      flex-grow: 1;
      padding:0 $distance;
      &:not(:first-child){
        .seperate{
          left:20px;
          right:0;
          border-top:1px solid #E3E3E3;
          position:absolute;
        }
      }

      .desc{
        margin-bottom: 10px;
        width:100%;
        display: flex;
        justify-content: space-between;
        .title {
          display: inline-flex;
          align-items: center;
        }
        .badge {
          margin-left: 8px;
          padding: 2px 8px;
          background: #EA754B;
          border-radius: 2px;
          font-size: 12px;
          font-weight: 600;
          color: #FFFFFF;
        }
        .name,.amount{
          font-weight:bold;
          color:$yellow;
          font-size: 16px;
        }
        .amount{
          span{
            font-weight:400;
          }
        }
        .address{
          font-size: 14px;
          color: #959595;
        }
      }

    }
  }
}
