@import '~@styles/index.scss';
.SetPassword{
  width:100%;

  .inputcontent{
    .desc{
      font-size: 16px;
      color:$yellow;
      margin:30px 0;
    }
    margin-left: 20px;
  }

  .button{
    display: flex;
    justify-content: center;
    button{
      background: #F6C94A;
      width:240px;
      height:52px;
    }
  }


}
