@import '~@styles/index.scss';
.AccountInfo{

  border-bottom: 1px solid #E3E3E3;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height:132px;
  min-height: 132px;
  background: #FFFFFF;
  .amount{
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color:$yellow;
    span{
      margin-left: 10px;
      font-weight: 400;
    }
  }
  .address{
    display: flex;
    justify-content: center;
    width:100%;
  }

  .watchother{
    display: flex;
    justify-content: center;
    color: #D8A924;
    margin-top: 8px;
  }

}
