@import "~@styles/index.scss";
.modal {
  padding: 0 !important;
  min-height: 60px !important;
  line-height: 60px;
  .export_key {
    line-height: 60px;
    background-color: #fff;
    i {
      margin: 0 30px 0 20px;
    }
  }
}
.AccountDetail {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .content {
    height: 100%;
    margin-top: 10px;
    // background: white;
    border-top: 1px solid #e3e3e3;
    .selectmode {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;

      li {
        background: #f5f5f5;
        color: #959595;
        &.active {
          color: $yellow;
          background: white;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
      }
    }
  }
  .private_key{
    display: block;
    margin: 20px -20px;
    padding: 20px;
    text-align: center;
    word-break: break-all;
    background: #F5F5F5;
  }
  .warning {
    display: block;
    font-size: 15px;
    color: #ea754b;
    text-align: center;
  }
}
