@import "~@styles/index.scss";
.input_password {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 20px;
      width: 100%;
      color: #615227;
      line-height: 20px;
    }
    .close {
      color: #3f3f3f;
    }
  }
  .input {
    margin-top: 20px;
    padding: 0 !important;
    width: calc(100% - 40px);
    line-height: 40px;
    display: block;
    border: none;
    font-size: 22px!important;
    text-align: center;
    &:-webkit-autofill{
      box-shadow: 0 0 0px 1000px white inset;
    }
  }
  .confirm {
    margin: 40px auto;
    width: 240px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    color: #615227;
    text-align: center;
    background: #f6c94a;
    border-radius: 4px;
  }
}
